# Maven
target/

!.mvn/wrapper/maven-wrapper.jar

# IntelliJ
.idea/
**/.idea/

*.iml
*.ipr
*.iws

# Eclipse
.project
.classpath
.settings/
.factorypath
.springBeans
.sts4-cache

# NetBeans
nbproject/
build/
dist/

# VSCode
.vscode/

# macOS
.DS_Store

# Archives
*.zip